@import "tailwindcss";

@layer utilities {
  .bg-gradient-animation {
    background-image: linear-gradient(to bottom right, #bfdbfe 0%, #f5d0fe 50%, #fbcfe8 100%);
    background-size: 200% 200%;
    animation: gradient-x 25s ease infinite;
  }

  .glass {
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
  }
}